/* 
    Document   : Style
    Created on : 07-abr-2016, 20:00:49
    Author     : REDP
    Description:
        Purpose of the stylesheet follows.
*/
*{
        list-style: none;
}
#usu{
    width: 40%;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 30%;
    height: 360px;
    padding: 5%;
    font-family: Century gothic;
    color:white;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#aprendices{
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: #eee;
    border-color: #eee;   
}
#aprendn{
    text-align: center;
    border-radius: 5px;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#aprend{
    font-family: Century gothic;
    color: white;
    text-align: center;
    border-radius: 5px;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#ocult{
    display: none;
}
#an{
    width: 70%;
    margin-left: 15%;
}
#hu{
    width: 40%;
    margin-left: 30%;
}
label{
    font-size:100%;
    text-align: justify;
    width: 10%;
}
#as{
    border-style: dotted;
    margin-top: 2%;
    width: 50%;
    text-align: center;
}
#as1{
    border-style: dotted;
    margin-top: 2%;
    width: 30%;
    text-align: center;
    margin-left: 35%;
}
#nom{
    width: 70%;
    height: auto;
    text-align: center;
    padding:0;
    font-family: Century gothic;
    margin-top: 0%;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: #eee;
    border-color: #eee;
}


#PHP, #JAVA{
    display: block;
}

.mongo, .php, .java, .mysql{
    width: 7%;
}
#we{
    margin-left: 5%;
}
#gh0, #gh1, #gh2, #gh3, #gh4, #gh5, #gh6, #gh7, #gh8,#gh9{
    display: none;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: #eee;
    border-color: #eee;
}
#jh,#j,#my,#mo,#p, #table{
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: #eee;
    border-color: #eee;
}
#mejored{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#sp{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
#sp:hover{
    color: black;
    background-color: white;
    border-color: #46b8da;
}